.photo
{
	padding-top: 90px;
	padding-left: 470px;
	padding-right: 60px;
	float: left;
}

.quote
{
    height: 120px;
	padding-bottom: 120px;
	padding-left: 920px;
	margin-top: -50px;
} 

.word
{
	padding-bottom: 5px;
    width: 500px;
    height: 64px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
	font-family: Georgia;
    font-style: Italic;	
}	
	
.main
{
	padding-left: 870px;
	width: 558px;
	height: 564px;
}	

.list
{
	padding-top: 10px;
	padding-left: 470px;
	float: left;
}

.head1
{
	margin-top: -45px;
	margin-bottom: -45px;
	padding-top: 20px;
	padding-bottom: 10px;
    font-size: 48px;
    color: #333333;
    font-family: Open Sans;	
	font-weight: 700;
}

.head2
{
	margin-bottom: -20px;
	padding-top: 0px;
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-family: Open Sans;
    font-weight: 400;	
}	

.head3_1
{
	padding-top: 25px;
	margin-top: -24px;
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: Open Sans;
    font-weight: 500;
}	

.photo_quote
{
	padding-top: 140px;
}

.author
{
	padding-left: 14px;
    font-size: 16px;
    line-height: 42px;
    color: #333333;
	font-family: Open Sans;
    font-weight: 700;
}

.text1
{
	margin-left: -3px;
    width: 507px;
    height: 198px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: Georgia;
}

.writers
{
	margin-top: -19px;
	margin-bottom: -19px;
    margin-left: -20px;
	width: 330px;
    height: 260px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: Georgia;
}

.films
{
	margin-left: -20px;
	width: 330px;
    height: 260px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: Georgia;
}

.rectangle
{
	padding-bottom: 20px;
	margin-left: -8px;
}	

.text2
{
    width: 570px;
    height: 198px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: Georgia;
}

.head3_2
{
	margin-top: -85px;
	margin-bottom: -12px;
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: Open Sans;
    font-weight: 500;
}	
	
.in_extra_text
{

	text-decoration: underline;
	float: left;
}

.extra_text
{
    width: 562px;
    height: 263px;
    line-height: 32px;
    color: #15a98b;
    font-family: Georgia;
	font-size: 19px;
    color: #15a98b;
}	

.symbol
{
	padding-top: 20px;
}