.laba
{
    position: relative;
    left: 471px;
    top: 95px;
}

.photo
{
    width: 330px;
}

.quote
{
    position: absolute;
    top: 0px;
    margin-left: 390px;
    margin-bottom: 200px;
    width: 550px;
    float: right;	
} 

.photo_quote
{
    position: absolute;
    top: 45px;
    margin-bottom: 30px;
}

.word
{
    position: absolute;
    top: 90px;
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-family: Georgia;
    font-style: Italic;	
    margin-left: 20px;
}

.author
{
    position: absolute;
    top: 210px;
    margin-left: 70px;
    font-size: 16px;
    color: #333333;
    font-family: Open Sans;
    font-weight: 700;
}	
	
.main
{
    position: absolute;
    left: 395px;
    top: 340px;
    width: 558px;
    float: right;
}

.head1
{
    margin: 0;
    margin-top: 40px;
    font-size: 48px;
    color: #333333;
    font-family: Open Sans;	
}

.rectangle
{
    margin-top: 15px;
}	

.text1
{
    margin-top: 35px;
    width: 507px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: Georgia;
}

.head2
{
    margin: 0;
    margin-top: 50px;
    font-size: 35px;
    line-height: 42px;
    color: #333333;
    font-family: Open Sans;
    font-weight: 500;	
}

.text2
{
    margin: 0;
    margin-top: 15px;
    width: 570px;
    font-size: 19px;
    line-height: 32px;
    color: #555555;
    font-family: Georgia;
}	

.in_extra_text
{
    text-decoration: underline;\
    float: left;
}

.extra_text
{
    margin-top: 45px;
    width: 562px;
    line-height: 32px;
    color: #15a98b;
    font-family: Georgia;
    font-size: 19px;
    color: #15a98b;
}	

.symbol
{
    margin: 0;
    font-size: 25px;
}	

.list
{
    position: absolute;
    top: 360px;
}

.head3_1
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: Open Sans;
    font-weight: 500;
}	

.writers
{
    position: absolute;
    top: 55px;
    padding: 0;
    margin-left: 25px;
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: Georgia;
}

.films
{
    position: absolute;
    top: 290px;
    padding: 0;
    margin-left: 25px;
    width: 330px;
    font-size: 19px;
    line-height: 36px;
    color: #555555;
    font-family: Georgia;
}

.head3_2
{
    position: absolute;
    top: 230px;
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-family: Open Sans;
    font-weight: 500;
}	
